* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

body {
	background-color:#C4BEEC;
}

nav {
    background-color:#78B5D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid black;
    height: 110px;
}
#assinatura-icon {
    
}

#redes{
    color: black;
    display: flex;
}

.redes-sociais{

    padding: 10px;
}
